<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <title>Orinico</title>
  </head>
  <body>
    <div class="header">
      <nav class="top-bar">
        <div class="wrapper">
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">Mon compte</a>
            </li>
            <li>
              <a href="" @click.prevent="changeTheme">Theme</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="wrapper">
        <div class="header__bottom bordered">
            <div class="logo">
              <img alt="ORINICO logo" src="images/content/logo.png">
            </div>
        </div>
        <nav class="main-nav bordered">
          <ul>
            <li>
              <a href="/" title="Ours en peluche" class="current">
                Peluche
              </a>
            </li>
            <li>
              <a href="/" title="Caméras vintage">
                Caméras
              </a>
            </li>
            <li>
              <a href="/" title="Meubles en chêne">
                Meubles
              </a>
            </li>
            <li class="cart-ico">
              <a href="cart.html">
                <i class="mdi mdi-cart"></i>
              </a>
              <span>112 €</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <main class="main">
      <article class="cart">
        <div class="wrapper bordered">
          <h1 class="cart__title">Panier</h1>
          <div class="cart__items bordered">
            <div class="cart__items__header">
              <div></div>
              <div></div>
              <div>Product</div>
              <div>Price</div>
              <div>Quantity</div>
              <div>Total</div>
            </div>
            <div class="cart__items__row item">
              <div class="item__action">
                <button class="mdi mdi-close"></button>
              </div>
              <div class="item__image">
                <img src="images/content/teddy_1.jpg" alt="" width="30px">
              </div>
              <div class="item__name">
                <span class="item__title">Produit</span>
                Teddy
              </div>
              <div class="item__price">
                <span class="item__title">Prix</span>
                112,00 €
              </div>
              <div class="item__calc">
                <span class="item__title">Quantité</span>
                <div class="quantity bordered">
                  <button class="btn" disabled="this.itemQuantity <= 1">
                    <span class="mdi mdi-minus"></span>
                  </button>
                  <div class="quantity__count bordered">
                    1
                  </div>
                  <button class="btn">
                    <span class="mdi mdi-plus"></span>
                  </button>
                </div>
              </div>
              <div class="item__total">
                <span class="item__title">Total</span>
                112 €
              </div>
            </div>
            <div class="cart__items__row item">
              <div class="item__action">
                <button class="mdi mdi-close"></button>
              </div>
              <div class="item__image">
                <img src="images/content/teddy_1.jpg" alt="" width="30px">
              </div>
              <div class="item__name">
                <span class="item__title">Produit</span>
                Teddy
              </div>
              <div class="item__price">
                <span class="item__title">Prix</span>
                112,00 €
              </div>
              <div class="item__calc">
                <span class="item__title">Quantité</span>
                <div class="quantity bordered">
                  <button class="btn" disabled="this.itemQuantity <= 1">
                    <span class="mdi mdi-minus"></span>
                  </button>
                  <div class="quantity__count bordered">
                    1
                  </div>
                  <button class="btn">
                    <span class="mdi mdi-plus"></span>
                  </button>
                </div>
              </div>
              <div class="item__total">
                <span class="item__title">Total</span>
                112 €
              </div>
            </div>
            <div class="cart__items__row item">
              <div class="item__action">
                <button class="mdi mdi-close"></button>
              </div>
              <div class="item__image">
                <img src="images/content/teddy_1.jpg" alt="" width="30px">
              </div>
              <div class="item__name">
                <span class="item__title">Produit</span>
                Teddy
              </div>
              <div class="item__price">
                <span class="item__title">Prix</span>
                112,00 €
              </div>
              <div class="item__calc">
                <span class="item__title">Quantité</span>
                <div class="quantity bordered">
                  <button class="btn" disabled="this.itemQuantity <= 1">
                    <span class="mdi mdi-minus"></span>
                  </button>
                  <div class="quantity__count bordered">
                    1
                  </div>
                  <button class="btn">
                    <span class="mdi mdi-plus"></span>
                  </button>
                </div>
              </div>
              <div class="item__total">
                <span class="item__title">Total</span>
                112 €
              </div>
            </div>
          </div>
          <div class="cart__total bordered">
            <p class="cart__total__title">Total panier</p>
            <div class="cart__total__price">
              112,00 €
            </div>
          </div>
          <div class="cart__form form">
            <form action="">
              <div class="form__input">
                <label for="mail">Mail <span>*</span> </label>
                <input value="mon texte input" type="mail" id="mail" required>
              </div>
              <div class="form__input">
                <label for="lastname">Nom <span>*</span></label>
                <input value="mon texte input" type="text" id="lastname" required>
              </div>
              <div class="form__input">
                <label for="name">Prénom <span>*</span></label>
                <input value="mon texte input" type="text" id="name" required>
              </div>
              <div class="form__input">
                <label for="adress">Adresse <span>*</span></label>
                <input value="mon texte input" type="text" id="adress" required>
              </div>
              <div class="form__input">
                <label for="city">Ville <span>*</span></label>
                <input value="mon texte input" type="text" id="city" required>
              </div>
              <div class="info">
                <span>*</span> : Champs obligatoir
              </div>
              <button
                type="submit"
                class="btn cart__items__btn"
                color="primary"
                elevation
                big
                onclick="window.location.href='/confirm.html'">
                Passer la commande
              </button>
            </form>
          </div>
          <div class="snackbar error">
            Vous devez remplir tous les champs
            <button class="snackbar__close">
              <i class="mdi mdi-close"></i>
            </button>
          </div>
        </div>
      </article>
    </main>
    <div class="footer">
      <div class="wrapper bordered">
        <nav class="footer__nav">
          <ul>
            <li>
              <a href="">CGU</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">Mon compte</a>
            </li>
          </ul>
        </nav>
        <div class="copyright">
          @ 2020 — <strong>ORINICO</strong>
        </div>
      </div>
    </div>
  </body>
</html>
