<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <title>Orinico</title>
  </head>
  <body>
    <div class="header">
      <nav class="top-bar">
        <div class="wrapper">
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">Mon compte</a>
            </li>
            <li>
              <a href="" @click.prevent="changeTheme">Theme</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="wrapper">
        <div class="header__bottom bordered">
            <div class="logo">
              <img alt="ORINICO logo" src="images/content/logo.png">
            </div>
        </div>
        <nav class="main-nav bordered">
          <div class="wrapper">
            <ul>
              <li>
                <a href="teddy.html" title="Ours en peluche" class="current">
                  Peluche
                </a>
              </li>
              <li>
                <a href="camera.html" title="Caméras vintage">
                  Caméras
                </a>
              </li>
              <li>
                <a href="furniture.html" title="Meubles en chêne">
                  Meubles
                </a>
              </li>
              <li class="cart-ico">
                <a href="cart.html">
                  <i class="mdi mdi-cart"></i>
                </a>
                <span>112 €</span>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <main class="main">
      <article class="product">
        <div class="wrapper bordered">
          <div class="product__image">
            <img src="images/content/teddy_1.jpg" alt="teddy 1">
            <div class="color" style="background: #000"></div>
          </div>
          <div class="product__infos">
            <h1 class="product__title">teddy1</h1>
            <p class="product__price">52.33 €</p>
            <p class="product__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
            <div class="product__select">
              <label for="colors">Couleurs :</label>
              <div class="custom-select">
                <select name="colors" id="">
                  <option value="black">noir</option>
                  <option value="red">Rouge</option>
                  <option value="blue">Bleu</option>
                  <option value="pink">Rose</option>
                </select>
              </div>
            </div>
            <div class="product__action">
              <div class="quantity bordered">
                <button class="btn" disabled="this.itemQuantity <= 1">
                  <span class="mdi mdi-minus"></span>
                </button>
                <div class="quantity__count bordered">
                  1
                </div>
                <button class="btn">
                  <span class="mdi mdi-plus"></span>
                </button>
              </div>
              <button class="btn addToCart" color="primary" elevation>
                Ajouter au panier
              </button>
            </div>
            <div class="snackbar">
              L'article "Teddy" à bien été ajouté à
              <a href="cart.html" style="text-decoration: underline;">votre pannier</a>
              <button class="snackbar__close">
                <i class="mdi mdi-close"></i>
              </button>
            </div>
          </div>
        </div>
      </article>
    </main>
    <div class="footer">
      <div class="wrapper bordered">
        <nav class="footer__nav">
          <ul>
            <li>
              <a href="">CGU</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">Mon compte</a>
            </li>
          </ul>
        </nav>
        <div class="copyright">
          @ 2020 — <strong>ORINICO</strong>
        </div>
      </div>
    </div>
  </body>
</html>
