/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

/* Components */

$font-family-base: 'Roboto', sans-serif;
$background-color: #fff;
$font-size-base: rem(16);
$font-color: #000;
$line-height-base: 1.2;
$page-width: 100vw;
$gray: #eaeaea;
$gray-light: #f6f6f6;
$gray-dark: #cfcfcf;
$gray-darkforce: #353535;
$primary: #8F5BFE;
$secondary: #E4890D;

$transition-base:           all .3s ease;
$spacer:                    rem(20);
