/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* template Page styles */
// import include media
@import '../../node_modules/include-media/dist/_include-media.scss';

@import 'style';
