body {
  height: 100%;
  min-width: rem(320);
  max-width: $page-width;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  background: $body-background-color;
  color: $font-color;
  // line-height: 1.4;
}

.wrapper{
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.bordered{
  border: 1px solid $gray-dark;
}

.header{

  &__bottom{
    background: #fff;
    padding: 50px;
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-bar{
    background: #000;
    color: #fff;
    font-size: rem(14);

    a{
      padding: 10px 20px;
      color: #fff;

      @include media("<=360px"){
        padding: 10px;
      }
    }

    @include media("<=480px"){
      font-size: rem(12)
    }
  }

  .main-nav{
    background: #fff;
    border-top: none !important;

    a{
      padding: 15px 20px;
      font-weight: lighter;

      @include media("<=360px"){
        padding: 10px;
        font-size: rem(14);
      }
    }
  }

  a{
    display: block;
    text-align: center;
    color: #333;

    &:hover{
      color: $gray-light !important;
    }
    &.current, &.router-link-active{
      color: $secondary !important;
      font-weight: bold;
    }
  }

  li{

    &.cart-ico{
      position: relative;

      a{
        background-color: #8F5BFE;
        background-image: linear-gradient(120deg, #E4890D 15%, #8F5BFE 70%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: rem(25);
        padding: 8px 20px;
      }

      span{
        position: absolute;
        display: block;
        top: 1px;
        right: 0;
        font-size: rem(12)
      }
    }
  }

  .logo{
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
}

.main{
  margin: 30px auto;
  width: 100%;

  .wrapper{
    background: #fff;
    padding: 50px;

    @include media("<=768px"){
      padding: 20px 10px;
    }
  }
}
