body {
  height: 100%;
  min-width: rem(320);
  max-width: $page-width;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  background: $body-background-color;
  color: $font-color;
  // line-height: 1.4;

  // plaquer footer en bas
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.snackbar{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #48aa4c;
  color: #48aa4c;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 20px;
  border-radius: 4px;

  a{margin-left: 5px;}

  &__close{
    margin-left: 20px;

  }
}

.wrapper{
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.btn{
  border: 1px solid $gray;
  min-height: 40px;
  min-width: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: $transition-base;

  &[elevation]{
    border: none;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
                0 2px 2px 0 rgba(0,0,0,.14),
                0 1px 5px 0 rgba(0,0,0,.12);

    &:hover{
      box-shadow: none;
    }
  }

  &[color~="primary"]{
    background: $primary;
    color: #fff;
  }
}

a{
  display: block;
  text-align: center;
  color: #333;
  transition: $transition-base;

  &:hover{
    color: $secondary;
  }
}

.bordered{
  border: 1px solid $gray-dark;
}

.header{

  &__bottom{
    background: #fff;
    padding: 50px;
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-bar{
    background: #000;
    color: #fff;
    font-size: rem(14);

    a{
      padding: 10px 20px;
      color: #fff;

      @include media("<=360px"){
        padding: 10px;
      }
    }

    @include media("<=480px"){
      font-size: rem(12)
    }
  }

  .main-nav{
    background: #fff;
    border-top: none !important;

    a{
      padding: 15px 20px;
      font-weight: lighter;

      &.current, &.router-link-active{
        color: $secondary;
        font-weight: bold;
      }

      @include media("<=360px"){
        padding: 10px;
        font-size: rem(14);
      }
    }
  }

  li{

    &.cart-ico{
      position: relative;

      a{
        background-color: #8F5BFE;
        background-image: linear-gradient(120deg, #E4890D 15%, #8F5BFE 70%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: rem(25);
        padding: 8px 20px;
      }

      span{
        position: absolute;
        display: block;
        top: 1px;
        right: 0;
        font-size: rem(12)
      }
    }
  }

  .logo{
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
}

.main{
  margin: 30px auto;
  width: 100%;

  .wrapper{
    background: #fff;
    padding: 50px;

    @include media("<=768px"){
      padding: 20px 10px;
    }
  }
}

// list-articles

.list-articles{
}

.list{
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));

  @include media("<=768px"){
    grid-template-columns: repeat(2, 1fr);
  }
  @include media("<=568px"){
    grid-template-columns: repeat(1, 1fr);
  }

  .item{
    max-width: 100%;
    // flex: 0 1 220px;
    // height: 295px;
    padding: 3px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &:hover{

      img{
        scale: 1.1
      }
    }

    &:last-child{
      // margin-right: 0;
      // margin-bottom: 10px;
    }

    &__image{
      width: 100%;
      overflow: hidden;
      margin-bottom: 10px;
      // background-color: var(--v-grey-base);
      display: flex;
      align-items: center;

      img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        transition: $transition-base;
      }
    }

    &__name{
      font-size: rem(20);
      font-weight: lighter;
      color: $primary;
      text-transform: capitalize;
      margin: auto 0 10px;
    }

    &__price{
      font-weight: bolder;
      margin-bottom: 10px;
    }

    &__links{
      display: flex;
      justify-content: center;

      a{
        display: block;
        padding: 10px 15px;
        background-color: $secondary;
        margin-left: 5px;
        color: #fff !important;
        transition: $transition-base;

        &:hover{
          color: #fff !important;
          background-color: $primary;
        }

        &:first-child{
          flex: 1 1 auto;
          margin-left: 0;
        }
      }
    }
  }
}

// Product

.product{
  width: 100%;

  .wrapper{
    display: flex;

    @include media("<=768px"){
      display: block;
    }
  }

  &__image{
    position: relative;
    flex: 1 0 400px;

    img{
      width: 100%;
      // height: 212px;
      object-fit: cover;
    }

    .color{
      position: absolute;
      top: 10px;
      left: 10%;
      width: 20px;
      height: 20px;
    }
  }

  &__infos{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__title{
    margin: 0 0 0px;
    font-size: rem(30);
    font-weight: lighter;
    letter-spacing: rem(3.2);
    text-transform: capitalize;
  }

  &__price{
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__desc{
    font-weight: lighter;
    letter-spacing: rem(3.2);
    text-align: justify;
    margin-bottom: 20px;

    @include media("<=480px"){
      letter-spacing: 0;
    }
  }

  &__select{
    margin-bottom: 20px;

    select{
      width: 100%;
      max-width: 266px;
    }

    label{
      margin-bottom: 10px;
      display: block;
    }
  }

  &__action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .quantity{
    display: flex;
    width: 122px;
    border-radius: 4px;
    overflow: hidden;

    &__count{
      border-top: none;
      border-bottom: none;
      display: block;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .addToCart{
    margin-top: auto;
    align-self: flex-end;
  }
}

// footer

.footer{
  margin-top: auto;

  .wrapper{
    background: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;

    @include media("<=480px"){
      display: block;
      padding: 10px 50px;
    }
  }

  &__nav{

    ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li{
      margin-right: 20px;
      font-size: rem(14);
    }

    @include media("<=480px"){
      margin-bottom: 10px;
    }
  }
}
