body {
  height: 100%;
  min-width: rem(320);
  max-width: $page-width;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  background: $body-background-color;
  color: $font-color;
  // line-height: 1.4;
}

.wrapper{
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.bordered{
  border: 1px solid $gray-dark;
}

.header{

  &__bottom{
    background: #fff;
    padding: 50px;
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-bar{
    background: #000;
    color: #fff;
    font-size: rem(14);

    a{
      padding: 10px 20px;
      color: #fff;

      @include media("<=360px"){
        padding: 10px;
      }
    }

    @include media("<=480px"){
      font-size: rem(12)
    }
  }

  .main-nav{
    background: #fff;
    border-top: none !important;

    a{
      padding: 15px 20px;
      font-weight: lighter;

      @include media("<=360px"){
        padding: 10px;
        font-size: rem(14);
      }
    }
  }

  a{
    display: block;
    text-align: center;
    color: #333;

    &:hover{
      color: $gray-light !important;
    }
    &.current, &.router-link-active{
      color: $secondary !important;
      font-weight: bold;
    }
  }

  li{

    &.cart-ico{
      position: relative;

      a{
        background-color: #8F5BFE;
        background-image: linear-gradient(120deg, #E4890D 15%, #8F5BFE 70%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: rem(25);
        padding: 8px 20px;
      }

      span{
        position: absolute;
        display: block;
        top: 1px;
        right: 0;
        font-size: rem(12)
      }
    }
  }

  .logo{
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
}

.main{
  margin: 30px auto;
  width: 100%;

  .wrapper{
    background: #fff;
    padding: 50px;

    @include media("<=768px"){
      padding: 20px 10px;
    }
  }
}

// list-articles

.list-articles{
}

.list{
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));

  @include media("<=768px"){
    grid-template-columns: repeat(2, 1fr);
  }
  @include media("<=568px"){
    grid-template-columns: repeat(1, 1fr);
  }

  .item{
    max-width: 100%;
    // flex: 0 1 220px;
    // height: 295px;
    padding: 3px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &:last-child{
      // margin-right: 0;
      // margin-bottom: 10px;
    }

    &__image{
      width: 100%;
      overflow: hidden;
      margin-bottom: 10px;
      // background-color: var(--v-grey-base);
      display: flex;
      align-items: center;

      img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
      }
    }

    &__name{
      font-size: rem(20);
      font-weight: lighter;
      color: $primary;
      text-transform: capitalize;
      margin: auto 0 10px;
    }

    &__price{
      font-weight: bolder;
      margin-bottom: 10px;
    }

    &__links{
      display: flex;
      justify-content: center;

      a{
        display: block;
        padding: 10px 15px;
        background-color: $secondary;
        margin-left: 5px;
        color: #fff !important;
        transition: $transition-base;

        &:hover{
          color: #fff !important;
        }

        &:first-child{
          flex: 1 1 auto;
          margin-left: 0;
        }
      }
    }
  }
  }
