body {
  height: 100%;
  min-width: rem(320);
  max-width: $page-width;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  background: $background-color;
  color: $font-color;
  // line-height: 1.4;
}
